.portfolioGraphicGrid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
   grid-template-rows: 1fr;
   grid-gap: 5rem;
   align-items: center;
}

.graphicImages {
   max-width: 50rem;
   max-height: 75rem;
}