/* General ------------------------------------*/
.pagesGrid {
	background-color: var(--wt);
	height: auto;
	padding: 5rem 10% 5rem 5rem;
	display: grid;
	grid-template-rows: repeat(3, auto);
	justify-content: flex-end;
	align-content: flex-start;
	overflow: hidden;
}

/* About  -------------------------------------*/
.about {
	background-color: var(--wt);
	height: auto;
	overflow-y: scroll;
}

.jeuelMobile {
	display: none;
}

/* Portfolio -----------------------------------*/
.backgroundPortfolio {
	background-color: var(--card);
	padding: 5rem;
}

.portfolioGrid {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 5rem;
}
.cards {
	max-width: 45rem;
	min-width: 35rem;
	height: auto;
	display: grid;
	justify-content: center;

	padding: 2rem;
	margin-bottom: 5rem;
	border-radius: 5rem;
	box-shadow: 0 6px 12px var(--cardDW), 0 -6px 12px var(--cardLW);
}

.cardsInfo {
	margin-bottom: 3rem;
	line-height: 1.5;
}

.cards h4 {
	background-color: var(--sb);
	padding: 2rem;
	margin-top: 0;
	color: var(--wt);
	border-radius: 2rem;
	box-shadow: inset 0 5px 5px var(--pb), inset 0 -5px 5px rgba(38, 168, 255, 0.75);
}

.cards a {
	font-size: 2rem;
}

.cardsInfoTech {
	margin-bottom: 0;
	padding: 1rem;
}

.projectLinks {
	color: var(--wt);
}

.projectImg {
	object-fit: cover;
	object-position: top;
	width: 35rem;
	height: 25rem;
	border-radius: 5rem;
	box-shadow: 0 8px 5px var(--cardDW), 0 -8px 5px var(--cardLW);
}

/* Contact ------------------------------------*/
.contact {
	background-color: var(--wt);
	overflow-y: scroll;
}

/* Media Query ----------------------------------*/
@media (max-width: 960px) {
	.pagesGrid {
		padding-right: 5rem;
	}
}

@media (max-width: 600px) {
	.pagesGrid {
		padding-right: 2rem;
	}

	.navGrid {
		width: 8rem;
	}

	/* About */
	.jeuelMobile {
		display: block;
		width: 15rem;
		border: 8px solid var(--rd);
		border-radius: 50%;
		justify-self: flex-end;
	}

	/* Portfolio */
	.portfolioGrid {
		padding: 2rem;
		grid-template-columns: none;
		grid-template-rows: repeat(19, 30rem);
		grid-gap: 2rem;
	}

	.cards {
		height: 30rem;
	}

	.projectImg {
		background-size: cover;
		background-position: top center;
		width: 100%;
		height: 60%;
		border-radius: 1rem;
	}
}
