.navGrid {
	width: 20rem;
	margin: 0;
}

.mainGrid {
	background: linear-gradient(-180deg, var(--pb) 40%, var(--sb) 80%, var(--sb));
	height: 100vh;
	padding: 2.5rem;
	display: grid;
	grid-template-rows: 25rem 15rem 1fr;
	grid-gap: 4rem;
	justify-content: center;
	align-content: space-between;
	position: fixed;
}

.logoBox {
	width: 15rem;
	position: relative;
}

.g {
	font-family: var(--font1);
	font-size: 21rem;
	color: var(--rd);
	position: absolute;
	bottom: 8.75rem;
	left: 0;
	margin: 0;
}

.well {
	font-family: var(--font1);
	font-size: 8.5rem;
	color: var(--tb);
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	margin: 0;
}

.webDeveloper {
	font-family: var(--font2);
	font-size: 1.98rem;
	color: var(--wt);
	position: absolute;
	bottom: 1rem;
	left: 0;
	margin: 0;
}

.jeuelBox {
	width: 15rem;
	height: 15rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.jeuel {
	width: 15rem;
	height: 15rem;
	border: solid 4px var(--rd);
	border-radius: 50%;
}

.jeuelCircle {
	background: radial-gradient(var(--tb) 40%, var(--pb) 70%, var(--pb) 10%);
	position: absolute;
	top: -1.5rem;
	left: -1.5rem;
	width: 18rem;
	height: 18rem;
	border: 1px dashed var(--tb);
	border-radius: 50%;
	z-index: -1;
}

.navLinkBox {
	display: grid;
	align-content: space-between;
	position: relative;
}

.navLink {
	font-family: var(--font2);
	font-size: 2rem;
	/* background-color: transparent; */
	color: var(--wt);
	width: 15rem;
	margin: 0 auto;
	padding: 1rem 0;
	border: none;
	cursor: pointer;
	border-bottom: 2px solid var(--sd);
}

.navLink:hover {
	color: var(--pb);
	transition: ease-in-out 0.5s;
}

.navLink:hover .navLittleCircles {
	border-color: var(--pb);
	transition: ease-in-out 0.5s;
}

.navLittleCircles {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 2px solid var(--tb);
	border-radius: 50%;
	margin: 0 1rem 0.15rem;
}

.activeLittleCircles {
	border: 2px solid var(--wt);
}

.navLinkMenu {
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--sd);
}

.navUnderlineAbout,
.navUnderlinePortfolio,
.navUnderlineContact {
	margin: 0.75rem auto 0;
	border: 1px solid var(--pb);
	border-radius: 1rem;
	opacity: 0;
}

.navLink:hover .navUnderlineAbout,
.navLink:hover .navUnderlinePortfolio,
.navLink:hover .navUnderlineContact {
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.activeNavLink:visited .navUnderlineAbout,
.activeNavLink:hover .navUnderlinePortfolio,
.activeNavLink:hover .navUnderlineContact {
	border-color: var(--rd);
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.navUnderlineAbout {
	width: 6rem;
}

.navUnderlinePortfolio {
	width: 9rem;
}

.navUnderlineContact {
	width: 8rem;
}

.navLinkDivision {
	width: 125%;
	background-color: rgba(10, 42, 64, 0.2);
	height: 1px;
	margin: 0 auto;
	position: relative;
	left: -2rem;
	/* border: 1px solid rgba(10, 42, 64, 0.15); */
	box-shadow: 0px 0px 20px 2px var(--pb);
}

/* Media Query */
@media (min-width: 600px) {
	.navGridMobile {
		display: none;
	}
}

/* Navbar Mobile ------------------------------*/
@media (max-width: 600px) {
	.navGrid {
		width: 8rem;
		padding: 2rem 1rem;
		margin: 0;
	}

	.mainGrid {
		width: 6rem;
		height: 100%;
		grid-template-rows: repeat(4, 12rem);
		grid-row-gap: 2rem;
		justify-content: flex-start;
		align-content: flex-start;
		position: fixed;
	}

	.logo {
		width: 6rem;
	}

	.jeuel {
		display: none;
	}

	.navLink {
		transform: rotate(270deg);
		width: 12rem;
		height: 12rem;
	}
}

/* Height */
@media (max-height: 630px) {
	.jeuel {
		display: none;
	}

	.logo {
		width: 12rem;
	}

	.mainGrid {
		grid-template-rows: 20rem 2rem 2rem 2rem;
	}
}
